.background-hero {
  height: 95vh;
  background-image: -webkit-linear-gradient(bottom right, rgba($brand-secondary, .5), rgba($brand-thrird, .8)), url(../img/RandyKoko.jpg);
  background-image: -o-linear-gradient(bottom right, rgba($brand-secondary, .5), rgba($brand-thrird, .8)), url(../img/RandyKoko.jpg) ;
  background-image: linear-gradient(to top left, rgba($brand-secondary, .5), rgba($brand-thrird, .8)), url(../img/RandyKoko.jpg)  ;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
}
.background-koko {
  height: 70vh;
  background-image: -webkit-linear-gradient(bottom right, rgba(darken($brand-thrird, 20%), .5), rgba(lighten($brand-thrird, 20%), .5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-image: -o-linear-gradient(bottom right, rgba(darken($brand-thrird, 20%), .5), rgba(lighten($brand-thrird, 20%), .5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg) ;
  background-image: linear-gradient(to top left, rgba(darken($brand-thrird, 20%), .5), rgba(lighten($brand-thrird, 20%), .5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg)  ;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0,100% 10%,100% 100%,0 90%);
}
