.logo {
  color: $brand-secondary;
  text-shadow: $shadow;
  font-family: $font-family-logo;
  font-weight: normal;
}
// .brand {
//   font-family: $font-family-logo;
//   font-weight: normal;
// }

.top-logo {
  padding: 1rem;
}
