
// Colors backgrounds

.brand-primary-l
  background: $brand-primary
  color: $base-light

.brand-secondary-l
  background: $brand-secondary
  color: $base-light

.brand-thrird-l
  background: $brand-thrird
  color: $base-light

.brand-fourth-l
  background: $brand-fourth
  color: $base-light

.brand-primary-d
  background: $brand-primary
  color: $base-dark

.brand-secondary-d
  background: $brand-secondary
  color: $base-dark

.brand-thrird-d
  background: $brand-thrird
  color: $base-dark

.brand-fourth-d
  background: $brand-fourth
  color: $base-dark

.base-dark
  background: $base-dark
  color: $base-light

.base-light
  background: $base-light
  color: $base-dark

// .base-lighter
//   background: $base-lighter

.black
  background: $black
  color: $base-light

.white
  background: $white
  color: $base-dark
