.hero-text {
  text-align: center; }
  .hero-text__main {
    display: block;
    font-size: 1.5em; }
  .hero-text__sub {
    display: block;
    font-size: .5em; }

.text-box-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*# sourceMappingURL=text.css.map */
