*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #ffeecc; }

html {
  width: 100%;
  height: 100%;
  perspective: 900; }

.wrap {
  display: block;
  padding: 10px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between; }

.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0; }

.grid-foot {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10em;
  margin: auto;
  padding: 30px 10em; }

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 600px) {
    .grid-3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 900px) {
    .grid-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 400px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 600px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 900px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.flex__container, .flex__container-home-about, .flex__container-person, .flex__box-home-about, .flex__box-person {
  display: flex;
  margin: 20px auto;
  max-width: 1140px;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .flex__container-home-about {
    flex-direction: column-reverse; }
    @media (min-width: 900px) {
      .flex__container-home-about {
        flex-direction: row; } }
  .flex__container-person {
    flex-direction: column; }
    @media (min-width: 1100px) {
      .flex__container-person {
        flex-direction: row; } }
.flex__box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center; }

html {
  font-family: "Gloria+Hallelujah", cursive;
  color: #2E282A;
  font-size: 10px; }

.center-text, .center-text__koko {
  text-align: center; }
  .center-text__koko {
    padding-top: 5rem;
    color: #f6f5f5; }

.big {
  font-size: 2em; }

.small {
  font-size: .5em; }

h1 {
  font-size: 2.6em; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3.8em; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 4.4em; } }
  @media (min-width: 1100px) {
    h1 {
      font-size: 5em; } }

h2 {
  font-size: 2.2em; }
  @media (min-width: 600px) {
    h2 {
      font-size: 3.2em; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 3.6em; } }
  @media (min-width: 1100px) {
    h2 {
      font-size: 4.2em; } }

h3 {
  font-size: 1.8em; }
  @media (min-width: 600px) {
    h3 {
      font-size: 2.8em; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 3.1em; } }
  @media (min-width: 1100px) {
    h3 {
      font-size: 3.6em; } }

h4 {
  font-size: 1.6em; }
  @media (min-width: 600px) {
    h4 {
      font-size: 2.4em; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 2.6em; } }
  @media (min-width: 1100px) {
    h4 {
      font-size: 3em; } }

h5 {
  font-size: 1.4em; }
  @media (min-width: 600px) {
    h5 {
      font-size: 2em; } }
  @media (min-width: 900px) {
    h5 {
      font-size: 2em; } }
  @media (min-width: 1100px) {
    h5 {
      font-size: 2.2em; } }

h6 {
  font-size: 1.2em; }
  @media (min-width: 600px) {
    h6 {
      font-size: 1.6em; } }
  @media (min-width: 900px) {
    h6 {
      font-size: 1.6em; } }

p {
  font-size: 1.3em; }
  @media (min-width: 600px) {
    p {
      font-size: 1.6em; } }

a {
  color: #007878;
  text-decoration: none; }

.section-headers {
  display: inline-block;
  color: #00A6A6;
  letter-spacing: .4rem;
  transition: all .2s; }
  .section-headers:hover {
    transform: skewY(-2deg) skewX(-15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.logo {
  color: #CC8800;
  text-shadow: 0.05em 0.05em 0.08em #000, 0.08em 0.08em 0.1em #2E282A;
  font-family: "Merienda", cursive;
  font-weight: normal; }

.top-logo {
  padding: 1rem; }

.brand-primary-l {
  background: #CD5334;
  color: #f6f5f5; }

.brand-secondary-l {
  background: #CC8800;
  color: #f6f5f5; }

.brand-thrird-l {
  background: #00A6A6;
  color: #f6f5f5; }

.brand-fourth-l {
  background: #6f732f;
  color: #f6f5f5; }

.brand-primary-d {
  background: #CD5334;
  color: #2E282A; }

.brand-secondary-d {
  background: #CC8800;
  color: #2E282A; }

.brand-thrird-d {
  background: #00A6A6;
  color: #2E282A; }

.brand-fourth-d {
  background: #6f732f;
  color: #2E282A; }

.base-dark {
  background: #2E282A;
  color: #f6f5f5; }

.base-light {
  background: #f6f5f5;
  color: #2E282A; }

.black {
  background: #000;
  color: #f6f5f5; }

.white {
  background: #fff;
  color: #2E282A; }

.img-contain, .img-contain__about, .img-contain__staring, .img-contain__staring-home, .img-contain__staring-cast, .img-contain__person {
  background-size: cover;
  width: 100%; }
  .img-contain__staring, .img-contain__staring-home, .img-contain__staring-cast {
    width: 60%;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    display: block; }
    .img-contain__staring-home {
      height: 300px; }
    .img-contain__staring-cast {
      height: 200px; }

.background-hero {
  height: 95vh;
  background-image: -webkit-linear-gradient(bottom right, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/RandyKoko.jpg);
  background-image: -o-linear-gradient(bottom right, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/RandyKoko.jpg);
  background-image: linear-gradient(to top left, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/RandyKoko.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }

.background-koko {
  height: 70vh;
  background-image: -webkit-linear-gradient(bottom right, rgba(0, 64, 64, 0.5), rgba(13, 255, 255, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-image: -o-linear-gradient(bottom right, rgba(0, 64, 64, 0.5), rgba(13, 255, 255, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-image: linear-gradient(to top left, rgba(0, 64, 64, 0.5), rgba(13, 255, 255, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); }

.transition {
  transition: all .2s ease-in-out; }

.user-select {
  -webkit-tap-highlight-color: #00A6A6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  perspective: 900px; }
  ul li {
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 18px;
    padding-bottom: 4px; }
    ul li:last-of-type {
      padding-bottom: 0; }
  ul i {
    position: absolute;
    right: 0;
    transform: translate(-6px, 0);
    padding-top: 16px; }
    ul i::before, ul i::after {
      position: absolute;
      content: "";
      background-color: #CD5334;
      width: 3px;
      height: 9px; }
    ul i::before {
      transform: translate(-2px, 0) rotate(45deg); }
    ul i::after {
      transform: translate(2px, 0) rotate(-45deg); }
  ul input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 5em;
    cursor: pointer;
    z-index: 1;
    opacity: 0; }
    ul input[type="checkbox"] ~ div {
      padding-top: 4em;
      padding-bottom: 3em; }
    ul input[type="checkbox"]:checked ~ p, ul input[type="checkbox"]:checked ~ div {
      transform: translate(0, 50%);
      max-height: 0;
      opacity: 0; }
    ul input[type="checkbox"]:checked ~ div {
      padding-top: 0em;
      padding-bottom: 0em; }
    ul input[type="checkbox"]:checked ~ i::before {
      transform: translate(2px, 0) rotate(45deg); }
    ul input[type="checkbox"]:checked ~ i::after {
      transform: translate(-2px, 0) rotate(-45deg); }

@keyframes flipdown {
  0% {
    transform-origin: top center;
    transform: rotateX(-90deg);
    opacity: 0; }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform: rotateX(0deg);
    transform-origin: top center; } }
.color-box {
  border-radius: 3px;
  padding: 1em;
  font-size: 120%;
  margin: 0.5em;
  text-align: center; }

.hero-text {
  text-align: center; }
  .hero-text__main {
    display: block;
    font-size: 1.5em; }
  .hero-text__sub {
    display: block;
    font-size: .5em; }

.text-box-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-auto-rows: 10rem;
  grid-gap: 1px;
  grid-auto-flow: dense;
  padding: 0;
  margin: 0; }
  @media (min-width: 600px) {
    .gallery__item--1 {
      grid-column-end: span 4;
      grid-row-end: span 4; }
    .gallery__item--2 {
      grid-column-end: span 2;
      grid-row-end: span 3; }
    .gallery__item--3 {
      grid-column-end: span 3;
      grid-row-end: span 2; }
    .gallery__item--4 {
      grid-column-end: span 2;
      grid-row-end: span 2; }
    .gallery__item--5 {
      grid-column-end: span 1;
      grid-row-end: span 2; }
    .gallery__item--6 {
      grid-column-end: span 2;
      grid-row-end: span 1; }
    .gallery__item--7 {
      grid-column-end: span 1;
      grid-row-end: span 1; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.navigation__checkbox {
  display: none; }
.navigation__button {
  background-color: #f6f5f5;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (min-width: 600px) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (min-width: 900px) {
    .navigation__button {
      top: 6rem;
      right: 6rem; } }
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(rgba(0, 166, 166, 0.7) 50%, rgba(111, 115, 47, 0.4), transparent);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (min-width: 600px) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (min-width: 900px) {
    .navigation__background {
      top: 6.5rem;
      right: 6.5rem; } }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
.navigation__item {
  margin: 0; }
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  padding: 0 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f6f5f5 50%);
  background-size: 240%;
  transition: all .6s; }
  @media (min-width: 600px) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2.5em; } }
  @media (min-width: 900px) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 3em; } }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #005a5a;
  transform: translateX(1rem); }
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(120); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #2E282A;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.6rem; }
  .navigation__icon::after {
    top: .6rem; }
.navigation__button:hover .navigation__icon::before {
  top: -.8rem; }
.navigation__button:hover .navigation__icon::after {
  top: .8rem; }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navbar {
  display: flex;
  padding: 10px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between; }

.topnav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.topnav .nav-a {
  text-decoration: none;
  padding-left: 20px; }

ul.topnav li {
  text-decoration: none;
  padding-left: 20px; }

.nav-a {
  text-decoration: none;
  color: #2E282A; }
  .nav-a:hover {
    color: #CC8800;
    text-shadow: 0.05em 0.05em 0.06em #2E282A; }

.dropdownLink {
  display: none; }

.section, .section__about, .section__koko {
  padding-top: 10rem;
  margin-top: -6rem; }

/*# sourceMappingURL=app.css.map */
