

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $base-light;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 3rem;
        right: 3rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($black, .1);
        text-align: center;
        cursor: pointer;

        @include respond(break-s) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(break-m) {
            top: 6rem;
            right: 6rem;
        }
    }

    &__background {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        // background-image: radial-gradient($brand-fourth 50%, rgba($brand-thrird,.4) , transparent);
        background-image: radial-gradient(rgba($brand-thrird,.7) 50%, rgba($brand-fourth,.4) , transparent);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(break-s) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(break-m) {
            top: 6.5rem;
            right: 6.5rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 0;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2em;
            font-weight: 300;
            padding: 0 1.5rem ;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $base-light 50%);
            background-size: 240%;
            transition: all .6s;
            @include respond(break-s) {
              font-size: 2.5em;
            }
            @include respond(break-m) {
              font-size: 3em;
            }

            // span {
            //     margin-right: 1.5rem;
            //     display: inline-block;
            // }
        }

        &:hover,
        &:active {
            background-position: 100%;
            // color: $brand-fourth;
            color: darken($brand-thrird, 15%);;
            transform: translateX(1rem);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(120);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: $base-dark;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.6rem; }
        &::after { top: .6rem; }
    }

    &__button:hover &__icon::before {
        top: -.8rem;
    }

    &__button:hover &__icon::after {
        top: .8rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
