.section {
  padding-top: 10rem;
  // padding-bottom: 5rem;
  // background-color: lighten($brand-secondary, 50%);
  margin-top: -6rem;
  &__about {
    @extend .section;
  }
  &__koko {
    @extend .section;
  }
}



// .text-box__koko {
//   // padding-top: 5rem;
//   text-align: center;
// }
